<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!-- Nome da sua aplicação -->
	<display-name>gestorex</display-name>

	<!-- Configuração do arquivo inicial quando a aplicação for inicializada -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Configuração do Controlador Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>

	
	<error-page>
  		<error-code>404</error-code>
  		<location>/erro/404.xhtml</location>
	</error-page>
	
	<session-config>
    	<session-timeout>
        10
    	</session-timeout>
 	</session-config>
	
	
	<!-- Listener do Jboss Weld -->
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
	<!-- Tema JSF -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>flick</param-value>
	</context-param>
	
	<context-param>
    	<param-name>javax.faces.application.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>

</web-app>